{% extends "base.html" %}
{% load static %}


{% block extra_head %}
<style>
body {
    background-color: #3b56a3;
    background-image: url({% static 'images/whyness-large.jpg' %});
}
</style>
{% endblock %}

{% block main %}
<div id="content" style="text-align: center; margin-top: 150px;">

<div class="row justify-content-center">
<div class="col-4">
<h1 class="text-white py-3">HANG TIGHT ...</h1>
<p><small class="text-white py-3">OUR WEBSITE WILL BE READY SOON</small></p>
<p class="text-white py-3">WE ARE HIRING - JOIN US</p>
<div>
    <button
        type="button"
        class="btn btn-outline-light btn-lg text-white"
        href="https://REMOVED
    ><span class="fab fa-linkedin"></span>
    WHYNESS</button>
</div>
</div>
</div>

</div>
{% endblock %}
